<!doctype html>
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <div class="controls" >
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge' %}
            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file' %}
            {% endif %}
            {% if field.render_kw %}
                {% if not field.render_kw.get('hidden') %}
                    <p id="text_{{ field.id }}">{{ field.label.text|safe }}</p>
                {% endif %}
                {% if field.render_kw.get('hidden') %}
                    <p id="text_{{ field.id }}" hidden>{{ field.label.text|safe }}</p>
                {% endif %}
            {% endif %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.render_kw %}
                {% if field.render_kw.get('list') %}
                    <datalist id="id_list_{{ field.id }}">
                        {% for entry in field.choices %}
                        <option value={{ entry }}>
                        {% endfor %}
                    </datalist>
                {% endif %}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% include "choose_builder.html" %}
<body>
<form method="post" id="configure" action="{{ url_for("edit_file_bp.edit_post", **mesh_info)}}">
    <div style="position: absolute; z-index:2; padding: 1%">
        {% for field in form %}
            {% if not (field.id.endswith('marker') or field.id.startswith('marker')) %}
                {{ form_field(field) }}
            {% endif %}
        {% endfor %}

    </div>
    <div style="z-index: 2; top: 10%; right: 5%; position: absolute;">
        {% for field in form %}
            {% if field.id.endswith('marker') or field.id.startswith('marker') %}
                {{ form_field(field) }}
            {% endif %}
        {% endfor %}
    </div>
    <div style="z-index: 2; left:50%; bottom: 10%; position: absolute;">
        <button onclick="return false;" id="vertice">select vertice(s)</button>
        <button onclick="return false;" id="face">select face</button>
        <button onclick="return false;" id="plan">select plan</button>
    </div>
</form>

{% block body %}

{% include "edit_file_canvas.html" %}
{% include "form.html" %}

{% endblock %}



</body>