<html lang="en">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% include "choose_builder.html" %}
<body>
<div class="d-flex align-items-center justify-content-center" style="height: 80%; width:100%">
    <div type="column">
        <div class="mx-auto">
            <h4>Welcome in miniBuilder, please choose a directory to store your 3D files.</h4>
        </div>
        <div class="mx-auto">
            <h6>If you already have a data folder from a previous installation of miniBuilder, select it bellow.</h6>
        </div>
        <div class="mx-auto">
            <p>You can select an external drive. With an SSD it will be faster.</p>
        </div>
        <form id="editconf" method="POST" action="{{ url_for('home_bp.make_folder') }}">
            {{ form.user_data_path.label}} (copy past from your file explorer) {{form.user_data_path()}}
            <br>
            {{ form.port.label}} <br>{{form.port}}
            <br>
                {{ form.submit() }}
        </form>
        <p>{{message}}</p>
    </div>

</div>
</body>