{% macro display_block(field_dict, value='', type='text', size=20) -%}
<div class="container-sm"  style="z-index:1;" >
    <ul class="list-group">
        {% for k, field in field_dict.items() %}
            <p class="list-group-item" style="z-index:1;">
                {% if k == "select" %}
                    {{ field.label }} {{ field(**{"onchange":"this.form.submit()"}) }}
                {% elif k == "list" %}
                    {{ field }}
                {% elif k == "rotate" %}
                    -180 {{ field(type="range") }} 180
                {% endif %}
            </p>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

<link href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet">

{% extends "flash_layout.html" %}
{% block body %}

<script>
function show_hide() {
  var x = document.getElementById("hide");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "None";
  }
}
</script>

<button onclick="show_hide()">Hide / Show</button>
<form method="post">
    <div id="hide" class="container" style="position: absolute; z-index:0;">
        {% for row in grid %}
            <div class="row">
                    {% for block in row %}
                        <div class="col-sm col-md">{{ display_block(block) }}</div>
                    {% endfor %}
            </div>
        {% endfor %}
        <p>Download missing files ? {{ dl_missing }}</p>
        <p>{{ submit }}</p>
        <p>{{ dl_zip }}</p>
    </div>
</form>

<div class="box">
    <a class="patron" href="https://www.patreon.com/bePatron?u=20077721" data-patreon-widget-type="become-patron-button">Become a
        Patron!</a>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</div>

{{ scene|safe }}

<style>
    .box {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    .patron {
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>
{% endblock %}


