<style>
    .box {
        position: absolute;
        bottom: 5%;
        right: 5%;
        z-index: 1;
    }
    .box_top_right {
        position: absolute;
        top: 4%;
        right: 4%;
        z-index: 1;
    }

    .patron {
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>

<!doctype html>
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

<!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->

<!--<link href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet">-->

<body>
    {% extends "flash_layout.html" %}
{% block body %}

<script>
function show_hide() {
  var x = document.getElementById("hide");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "None";
  }
}

</script>

<!--<button onclick="show_hide()">Hide / Show</button>-->
<div id="hide" style="">
    {% include "grid_box.html" %}

</div>

{% include "designers_box.html" %}

<div class="box">
    <a class="patron" href="https://www.patreon.com/bePatron?u=20077721" data-patreon-widget-type="become-patron-button">Become a
        Patron!</a>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</div>


{{ scene|safe }}
{% endblock %}
</body>