{% macro display_block(field_dict, value='', type='text', size=20) %}
<button type="button" class="btn btn-toggle align-items-center rounded" data-toggle="collapse" data-target="#{{ field_dict['select'].label.text.replace(' ', '-') }}-collapse" aria-controls="{{ field_dict['select'].label.text.replace(' ', '-') }}-collapse" style="z-index:1;">
{{ field_dict['select'].label }} ↓
</button>
{{ field_dict['select']() }}
    <div class="collapse" id="{{ field_dict['select'].label.text.replace(' ', '-') }}-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
        {% for k, field in field_dict.items() %}
            <p class="bg-light" style="z-index:1;">
                {% if k == "list" %}
                    {{ field }}
                {% elif k == "rotate" %}
                    {{ field(type="range", oninput="this.nextElementSibling.value = this.value") }} <output>{{field.data}}</output>° rotation
                {% elif k == "shake" %}
                    {{ field(type="range", oninput="this.nextElementSibling.value = this.value") }} <output>{{field.data}}</output>° rotation
                {% elif k == "scale" %}
                    {{ field(type="range", oninput="this.nextElementSibling.value = this.value") }} <output>{{field.data}}</output>x scale
                {% elif k == "merge" %}
                    {{ field(type="range", oninput="this.nextElementSibling.value = this.value") }} <output>{{field.data}}</output>x merge
                {% endif %}
            </p>
        {% endfor %}
            </ul>
    </div>
{% endmacro %}
    <form method="post" id="builder">
        <div class="list-group list-group-flush overflow-auto h-100" style="position: absolute; z-index:1;">
            {% for row in grid %}
                <div class="list-group-item list-group-item-action bg-light">
                    {{ display_block(row) }}
                </div>
            {% endfor %}

        </div>

        <div style="display: block; left: 40%; bottom:5%; position: absolute; z-index:1;">
            <p>{{ submit }} {{ dl_zip }} {{ live_edit }}</p>
            <p>Download missing files ? {{ dl_missing }}</p>
        </div>
    </form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% for row in grid %}
    <script>
        let select_field_{{row['select'].id}} = document.getElementById("{{row['select'].id}}")
        let choice_field_{{row['select'].id}} = document.getElementById("{{row['list'].id}}")
        builder = window.location.href.split('/')
        builder = builder[builder.length -1]

        select_field_{{row['select'].id}}.onchange = function () {
            selection = select_field_{{row['select'].id}}.value;

            fetch("/selectform/{{ row['select'].id }}/" + selection + "/" + builder).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '';
                    for (choice in data) {
                        optionHTML += '<option value="' + data[choice][0] + '">' + data[choice][1] + '</option>';
                    }
                    choice_field_{{row['select'].id}}.innerHTML = optionHTML
                })
            })
        }

    </script>
{% endfor %}