<canvas id="artifactCanvas" myattr="myattr" style="display: block; position: absolute;top: 0%;left: 0%;z-index:0; cursor: move;">
</canvas>

<script type="module">
    import * as THREE from "https://cdn.skypack.dev/three@0.136.0";
    import {
      OrbitControls
    } from "https://cdn.skypack.dev/three@0.136.0/examples/jsm/controls/OrbitControls";
    import {
      STLLoader
    } from "https://cdn.skypack.dev/three@0.136.0/examples/jsm/loaders/STLLoader";

    var objs = [];
    let mesh;
    window.mesh = mesh

    var scene = new THREE.Scene();
    scene.background = new THREE.Color(0xffffff);
    var camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 1000);
    camera.position.setScalar(7);
    let renderer = new THREE.WebGLRenderer({
      antialias: true, canvas: artifactCanvas
    });
    renderer.setSize(window.innerWidth, window.innerHeight);
    window.addEventListener("resize", onWindowResize, true);
    document.body.appendChild(renderer.domElement);

    var controls = new OrbitControls(camera, renderer.domElement);
    let mesh_selector = document.getElementById('mesh_file')
    let file_name_field = document.getElementById('file_name')
    let path = mesh_selector.value

    var loader = new STLLoader();
    loader.load(document.URL.split('/builder')[0] + '{{ url_for("configure_bp.send", builder="Wargame Humanoid", file="TMP")}}/'.replace('TMP', path), function(geometry) {
      var material = new THREE.MeshBasicMaterial({
        color: "gray"
      });
      console.log(path)
      file_name_field.value = path.split('.')[0].replaceAll('_', ' ').toProperCase()
      var mesh = new THREE.Mesh(geometry, material);
      //mesh.rotation.set(0, Math.PI, 0);
      //mesh.scale.setScalar(10);
      scene.add(mesh);
      objs.push(mesh);
      window.mesh = mesh


      var wireframe = new THREE.LineSegments(new THREE.WireframeGeometry(geometry), new THREE.LineBasicMaterial({
        color: "aqua"
      }));
      mesh.add(wireframe);
      mesh.geometry.computeBoundingSphere()
      controls.target.copy(mesh.geometry.boundingSphere.center)
      controls.update()
    });

    var marker = new THREE.Mesh(new THREE.SphereBufferGeometry(0.25, 4, 2), new THREE.MeshBasicMaterial({
      color: 0xFFc8FF
    }));
    marker.position.setScalar(1);
    scene.add(marker);

    var intscs = [];
    var rc = new THREE.Raycaster();
    var m = new THREE.Vector2();
    var poi = new THREE.Vector3();
    var pos = new THREE.Vector3();
    var tp = [
      new THREE.Vector3(),
      new THREE.Vector3(),
      new THREE.Vector3()
    ];
    var tri = new THREE.Triangle();
    var bc = new THREE.Vector3();
    var idx = 0;

    renderer.domElement.addEventListener("pointermove", onMouseMove);

    renderer.domElement.addEventListener("dblclick", do_stuff);

    function onMouseMove(event) {
      m.x = (event.clientX / window.innerWidth) * 2 - 1;
      m.y = -(event.clientY / window.innerHeight) * 2 + 1;
      rc.setFromCamera(m, camera);
      intscs = rc.intersectObjects(objs, false);
      if (intscs.length > 0) {
        let o = intscs[0];
        poi.copy(o.point);
        o.object.worldToLocal(poi);
        setPos(o.faceIndex);
        o.object.localToWorld(pos);
        marker.position.copy(pos);
      }
    }

    function do_stuff(event) {
        let field_marker = document.getElementById(window.current_marker);
        let field_value = field_marker.value
        if (field_value === ''){
            field_marker.value = marker.position.toArray().toString()
        }
        else {
            field_marker.value = field_value + "], [" + marker.position.toArray().toString()
        }
    }


    function setPos(faceIndex) {
      tp[0].fromBufferAttribute(intscs[0].object.geometry.attributes.position, faceIndex * 3 + 0);
      tp[1].fromBufferAttribute(intscs[0].object.geometry.attributes.position, faceIndex * 3 + 1);
      tp[2].fromBufferAttribute(intscs[0].object.geometry.attributes.position, faceIndex * 3 + 2);
      tri.set(tp[0], tp[1], tp[2]);
      tri.getBarycoord(poi, bc);
      if (bc.x > bc.y && bc.x > bc.z) {
        idx = 0;
      } else if (bc.y > bc.x && bc.y > bc.z) {
        idx = 1;
      } else if (bc.z > bc.x && bc.z > bc.y) {
        idx = 2;
      }
      pos.copy(tp[idx]);
    }
    String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    };
    function upload_file(){
        path = mesh_selector.value
        objs = [];
        while (scene.children.length)
        {
            scene.remove(scene.children[0]);
        }
        scene.add(marker);
        file_name_field.value = path.split('.')[0].replaceAll('_', ' ').toProperCase()
        loader.load(document.URL.split('/builder')[0] + '{{ url_for("configure_bp.send", builder="Wargame Humanoid", file="TMP")}}/'.replace('TMP', path), function(geometry) {
            var material = new THREE.MeshBasicMaterial({
                color: "gray"
            });
            scene.remove(mesh)
            var mesh = new THREE.Mesh(geometry, material);
            scene.add(mesh);
            objs.push(mesh);
            //window.mesh = mesh


            var wireframe = new THREE.LineSegments(new THREE.WireframeGeometry(geometry), new THREE.LineBasicMaterial({
            color: "aqua"
            }));
            mesh.add(wireframe);
            mesh.geometry.computeBoundingSphere()
            controls.target.copy(mesh.geometry.boundingSphere.center)
            controls.update()
            });
    }

    mesh_selector.addEventListener("change", upload_file);

    renderer.setAnimationLoop(() => {
      renderer.render(scene, camera);
    });
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.render(scene, camera);
    }
</script>

<script>
    {% for node in nodes %}
    form_{{ node }} = document.getElementById("marker_{{ node }}");
    form_{{ node }}.onclick = function() {
        form_{{ node }}.value = ''
        window.current_marker = "marker_{{ node }}";
    };
    {% endfor %}
</script>