<tr>

</tr>
<tr>
</tr>
<form method="post">

    <table>
        <caption>Mini Builder made with love (Only CC files) It will soon be shutdown, you will be able to run your own local server ! with your own file bought on cults/patreon!</caption>
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <th>Backpack</th>
            <th>Head</th>

        </tr>
        <tr>
            <th>{{ form.backpack_(**{"onchange":"this.form.submit()"}) }}</th>
            <th>{{ form.head_(**{"onchange":"this.form.submit()"}) }}</th>
        </tr>
        <tr>
            <th>{{ form.backpack }}</th>
            <th>{{ form.head }}</th>
        </tr>
        <tr>
            <th>Right Arm</th>
            <th>Body</th>
            <th>Left Arm</th>
        </tr>
        <tr>
            <th>{{ form.rarm_(**{"onchange":"this.form.submit()"}) }}</th>
            <th>{{ form.body_(**{"onchange":"this.form.submit()"}) }}</th>
            <th>{{ form.larm_(**{"onchange":"this.form.submit()"}) }}</th>
        </tr>
        <tr>
            <th>{{ form.rarm }}</th>
            <th>{{ form.body }}</th>
            <th>{{ form.larm }}</th>
        </tr>
        <tr>
            <th>-90° {{ form.rarm_rotation(type="range") }} 90°</th>
            <th></th>
            <th>-90° {{ form.larm_rotation(type="range") }} 90°</th>
        </tr>
        <tr>
            <th>Right Hand</th>
            <th>Leg</th>
            <th>Left Hand</th>
        </tr>

        <tr>
            <th>{{ form.rhand_(**{"onchange":"this.form.submit()"}) }} </th>
            <th>{{ form.leg_(**{"onchange":"this.form.submit()"}) }}</th>
            <th>{{ form.lhand_(**{"onchange":"this.form.submit()"}) }}</th>
        </tr>
        <tr>
            <th>{{ form.rhand }}</th>
            <th>{{ form.leg }}</th>
            <th>{{ form.lhand }}</th>
        </tr>
        <tr>
            <th>-90° {{ form.rhand_rotation(type="range") }} 90°</th>
            <th></th>
            <th>-90° {{ form.lhand_rotation(type="range") }} 90°</th>
        </tr>
        </tbody>
    </table>
    <p> Download missing files ? {{ form.download_missing_file }} </p>
    {{ form.submit_preview }}

    {% for position, designer in designers.items() %}
    <dl>
        <dt>{{ position }} is {{ designer['name'] }}</dt>
        <dd>
            <a href={{ designer['donation'] }} target="_blank" rel="external" hreflang="en" type="text/html">
                Make a donation
            </a>
        </dd>
        {% for k, v in designer['web'].items() %}
            <dd>
                <a href="{{ v }}" target="_blank" rel="external" hreflang="en" type="text/html">
                    {{ k }}
                </a>
            </dd>
        {% endfor %}
    </dl>
    {% endfor %}

</form>


{{ test|safe }}

<style>
    form {
        position: absolute;
    }
</style>

