<html lang="en">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>

{% include "choose_builder.html" %}
<body>
{% for builder_, categories in update.items() %}
<div id="accordion{{slugify(builder_, separator='_')}}">

    <div class="card">
        <div class="card-header" id="{{slugify(builder_, separator='_')}}_header">
            <h5 class="mb-0">

                <button class="btn btn-link dropdown-toggle" data-toggle="collapse"
                        data-target="#{{slugify(builder_, separator='_')}}_collapse"
                        aria-expanded="false" aria-controls="{{slugify(builder_, separator='_')}}_collapse">
                    {{builder_}}
                </button>
                <a class="btn btn-secondary" type="submit" href="{{url_for('home_bp.dl_builder', builder=builder_)}}">Overwrite</a>
            </h5>
        </div>
        <div id="{{slugify(builder_, separator='_')}}_collapse" class="collapse"
             aria-labelledby="{{slugify(builder_, separator='_')}}_header"
             data-parent="#accordion{{slugify(builder_, separator='_')}}">
            <div class="card-body" id="{{slugify(builder_, separator='_')}}_header">
                <div id="accordion_file{{slugify(builder_, separator='_')}}">
                    {% for category, files in categories['update'].items() %}
                    <div class="card">
                        <div class="card-header" id="{{slugify(category + builder_ + 'update', separator='_')}}_header">
                            <h5 class="mb-0">
                                {{ category }} <a class="btn btn-secondary" type="submit"
                                                  href="{{url_for('home_bp.dl_category_config', builder=builder_, category=category)}}">Overwrite</a>
                            </h5>

                        </div>
                    </div>

                    {% endfor %}

                    {% for category, files in categories['dl'].items() %}
                    <div class="card">
                        <div class="card-header"
                             id="{{slugify(category + builder_ + 'download', separator='_')}}_header">
                            <h5 class="mb-0">
                                {{ category }} <a class="btn btn-secondary" type="submit"
                                                  href="{{url_for('home_bp.dl_category_config', builder=builder_, category=category)}}">Download</a>
                            </h5>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}

{% for builder_, categories in dl.items() %}
<div id="accordion_dl{{slugify(builder_, separator='_')}}">

    <div class="card">
        <div class="card-header" id="{{slugify(builder_, separator='_')}}_header">
            <h5 class="mb-0">

                <button class="btn btn-secondary" data-toggle="collapse"
                        data-target="#{{slugify(builder_, separator='_')}}_collapse"
                        aria-expanded="false" aria-controls="{{slugify(builder_, separator='_')}}_collapse">
                    {{builder_}}
                </button>
                <a class="btn btn-light" type="submit" href="{{url_for('home_bp.dl_builder', builder=builder_)}}">Download</a>
            </h5>
        </div>
        <div id="{{slugify(builder_, separator='_')}}_collapse" class="collapse"
             aria-labelledby="{{slugify(builder_, separator='_')}}_header"
             data-parent="#accordion_dl{{slugify(builder_, separator='_')}}">
            <div class="card-body" id="{{slugify(builder_, separator='_' + 'download')}}_header">
                <div id="accordion_dl_file">

                    {% for category, files in categories['dl'].items() %}
                    <div class="card">
                        <h6 class="card-header"
                            id="{{slugify(category + builder_ + 'download', separator='_')}}_header">
                            <h5 class="mb-0">
                                {{ category }}
                            </h5>
                        </h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

</body>